<launch>
  <arg name="kp" default="0.1"/>
  <rosparam param="kp" subst_value="True">$(arg kp)</rosparam>

  <arg name="ki" default="0"/>
  <rosparam param="ki" subst_value="True">$(arg ki)</rosparam>

  <arg name="kd" default="0"/>
  <rosparam param="kd" subst_value="True">$(arg kd)</rosparam>

  <arg name="max_speed" default="255"/>
  <rosparam param="max_speed" subst_value="True">$(arg max_speed)</rosparam>

  <arg name="min_speed" default="0"/>
  <rosparam param="min_speed" subst_value="True">$(arg min_speed)</rosparam>

  <node pkg="robot" type="dog" name="dog" output="screen"/>
  <include file="$(find robot)/launch/arduino.launch" />
</launch>
